@use '../abstract' as *;

.#{$p}-badges {
  --p-badges-shadow-bg-color: hsl(var(--web-color-brand-200));
  --p-badges-shadow-border-color: hsl(var(--web-color-brand-500) / 0.5);
  --p-badges-shadowopacity: 0.4;

  align-self:center; color:hsl(var(--color-neutral-0));
  padding-block:pxToRem(6); padding-inline:pxToRem(12); border-radius:pxToRem(6);
  // background: linear-gradient(175deg, hsl(var(--web-color-pink-500)) 25.03%, hsl(var(--web-color-secondary-100)) 100%);
  background: radial-gradient(98.13% 199.7% at 98.13% 100%, hsl(var(--web-color-brand-500)) 0%, hsl(var(--web-color-brand-600)) 41.6%, hsl(var(--web-color-brand-700)) 100%);

  -webkit-backdrop-filter:blur(pxToRem(40));
  backdrop-filter:blur(pxToRem(40));

  box-shadow:
          pxToRem(3) pxToRem(3) var(--p-badges-shadow-bg-color),
          pxToRem(4) pxToRem(3) var(--p-badges-shadow-border-color),
          pxToRem(3) pxToRem(4) var(--p-badges-shadow-border-color),
          pxToRem(2) pxToRem(3) var(--p-badges-shadow-border-color),
          pxToRem(3) pxToRem(2) var(--p-badges-shadow-border-color);


  #{$theme-dark} & {
    --p-badges-shadow-bg-color: hsl(var(--web-color-greyscale-850));
    --p-badges-shadow-border-color: hsl(var(--web-color-greyscale-750));
    --p-badges-shadowopacity: 0.13;
  }

  #{$theme-light} &{
    --p-badges-shadow-bg-color: hsl(var(--web-color-brand-200));
    --p-badges-shadow-border-color: hsl(var(--web-color-brand-500) / 0.5);
    --p-badges-shadowopacity: 0.4;
  }

}